/*
 * This file is for overriding the default styles applied by the template.
 *
 * Author: Sandesh Patil
 */


/* For form validations */
input.parsley-success, select.parsley-success, textarea.parsley-success {
    background-color: #DFF0D8;
    border: 1px solid #468847;
}

label.parsley-error {
    color: #E85445;
}

span.parsley-error {
	background: #FAEDEC;
    border: 1px solid #E85445 !important;
}

span.parsley-success {
    background-color: #DFF0D8;
    border: 1px solid #468847 !important;
}

/* For tables */
table.table {
    color: #4F565F;
}

/* For notes */
span.note {
	color: #73879C;
	font-size: 12px;
}
